// MEDIA ==================================================

	audio,
	canvas,
	video {
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}

	audio:not([controls]) {
		display: none;
	}

	img{
		vertical-align: middle;
		-ms-interpolation-mode: bicubic;
	}
	
	img,
	embed,
	video {
		max-width: 100%;
		height: auto;
		border: 0;
	}

	svg:not(:root) { 
		overflow: hidden; 
	}

	figure{
		margin: 0;
		embed, 
		img {
			margin: 0;
			max-width: 100%;
			height: auto;
		}
	}

	figcaption {
		display: block;
		font-weight: normal;
	}