// ROOT ==================================================

	html {
		height: 100%;
		overflow-y: scroll;
		font-size: 100%;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
	
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100%;
		@include font-size();
		line-height: 1.4;
		@include clearfix();
	}