@charset "UTF-8";

@import "imports/display";
@import "imports/mixins";

@import "imports/base";
@import "imports/typography";
@import "imports/links";
@import "imports/lists";
@import "imports/media";
@import "imports/forms";
@import "imports/tables";
@import "imports/fontawesome";
@import "imports/grid";

	//STYLES FOR MIN-WIDTH 320PX HERE
	
	.a:after {
		display:block;
		content: "all.css was loaded and is currently applied.";
		margin-top: 1em;
	}

@media print {
	@import "imports/print";
}